/** {
	box-sizing: border-box;
}
*/
.wrapper
{
	max-width: 750px;
	margin: 0 auto;
  /*width: 100%;*/
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*font-family: monospace;*/
  /*border: 1px solid red;*/
}

.header
{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid grey;
	background-color: #424242;
	color: #ededed;
	text-align: center;
	border-radius: 5px;
	font-size: 20px;
	border: 1px solid #efefef;
	/*margin: 0 auto;*/
}

.header:after{
  content:' ';
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-left:10px solid #424242;
  border-right:10px solid transparent;
  position:absolute;
  margin-top: 50px;
  margin-left: -150px;
  transform: rotate(90deg);
}

.main {
	border: 1px solid #efeded;
	margin-top: 15px;
}

.progress
{
	height: 14px;
	border: 1px solid #efeded;
	background-color: #fafafa;
}

.bar
{
	width: 44%;
	height:14px;
	background-color: #f25e33;
}
/*
.middle
{
	display:flex;
	width: 40%;
	border: 1px solid #dfdfdf;
	color:#909090;
	height:140px;
}
.part
{
	border:1px solid #dfdfdf;
	width: 50%;
	
}
*/
.section
{
	display: flex;
	padding: 10px;
	flex-wrap: wrap;

}
.section-left
{
	min-width: 200px;
    max-width: 450px;
}
.section-right
{
   display: flex;
   justify-content: space-between;
}
.items {
	margin: 10px;
}

label
{
	position: absolute;
    line-height: 50px;
    margin-left: 10px;
    font-size: 18px;
	color:#797979;
}
input
{
	width: 110px;
	height: 44px;
	border-radius: 3px;
	text-align: center;
	
}
button
{
    width: 120px;
	height: 44px;
	background-color: #08bd19;
	color: white;
	font-size: 15px;
	border-radius: 4px;
	
}
p
{
	color:grey;
}
.orange-text {
	color: #f15e34;
}
#tag
{
	color: #59a7d2;
	font-family: cursive;

}

.buttons
{
	
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.button
{
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	height: 50px;
    width: 48%;
	background-color: #fafafa;
	color: #797979;
	border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-family: none;
}